.logo {
    display: block;

    margin: auto;
    height: 50px;

}

body {
    /* background-image: linear-gradient(rgb(92,100,221), purple); */
    background-image: linear-gradient(to left, #4facfe, #00f2fe);
    /* font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px; */
}

.container {
    background-color: red;
    margin: auto;
    max-width: 955px;
    height: 60vh;
    /* padding: 20px; */

}

.message {
    background-color: wheat;
    width: 25%;
    padding: 20px;
    margin: 17px 5px;
    border: 3px solid brown;
    border-radius: 50px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}